.top-bar {
  background: rgba(218, 63, 81, 1);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff11;
}
.top-bar a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}
.header {
  background: linear-gradient(
    90deg,
    rgb(215, 44, 87) 9%,
    rgba(218, 63, 81, 1) 40%,
    rgba(233, 123, 54, 0.9831582291119573) 83%,
    rgba(236, 166, 47, 1) 97%
  );
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  z-index: 10;
}
.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgb(215, 44, 87) 9%,
    rgba(218, 63, 81, 1) 40%,
    rgba(233, 123, 54, 0.9831582291119573) 83%,
    rgba(236, 166, 47, 1) 97%
  );
  padding: 20px;
  align-items: center;
  z-index: 9;
}
.menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}
.menu.active {
  display: flex;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  align-items: center;
}
.menu-logo {
  max-height: 50px;
}
.radio-player {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .menu {
    display: flex;
    position: static;
    flex-direction: row;
    background: none;
    padding: 0;
  }
  .menu a {
    padding: 10px 20px;
  }
  .menu-btn {
    display: none;
  }
}
